{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


	{% if users is not empty %}
		<table class="classtable">
			<thead>
				<tr>
					<th>Email</th>
					<th>Roles</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="email_color">{{ user.email }}</td>
						<td>{{ user.roles|join(', ') }}</td>
						<td><button class="button_2" onclick="location.href='{{path('editRole',{ 'id': user.id }) }}'"><b>Modifier le rôle</b></button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Il n'y a aucun utilisateur</p>
	{% endif %}


{% endblock %}
