{% extends 'base.html.twig' %}

{% block body %}


<div class="text_center">
	<h1>Oops</h1>
	<p>Cette page ne fonctionne pas correctement.</p>
	<p><button class="button_nav" onclick="location.href='{{path('accueil')}}'"><b>Accueil</b></button></p>
</div>


{% endblock %}